.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.header-heading-main {
  font-size: 1.2em;
}

.header-button {
  visibility: hidden;
}

.key-button {
  background-color: #000;
  color: #fff;
  border: none;
}
